<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzncloud.mapper.CabinetsMapper">
  <resultMap id="BaseResultMap" type="com.gzncloud.domain.Cabinets">
    <id column="cabinet" jdbcType="BIGINT" property="cabinet" />
    <result column="sequence" jdbcType="SMALLINT" property="sequence" />
    <result column="device" jdbcType="BIGINT" property="device" />
    <result column="lockers_count" jdbcType="INTEGER" property="lockers_count" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    cabinet, sequence, device, lockers_count, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cabinets
    where cabinet = #{cabinet,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cabinets
    where cabinet = #{cabinet,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gzncloud.domain.Cabinets">
    insert into cabinets (cabinet, sequence, device, 
      lockers_count, description)
    values (#{cabinet,jdbcType=BIGINT}, #{sequence,jdbcType=SMALLINT}, #{device,jdbcType=BIGINT}, 
      #{lockers_count,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gzncloud.domain.Cabinets">
    insert into cabinets
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cabinet != null">
        cabinet,
      </if>
      <if test="sequence != null">
        sequence,
      </if>
      <if test="device != null">
        device,
      </if>
      <if test="lockers_count != null">
        lockers_count,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cabinet != null">
        #{cabinet,jdbcType=BIGINT},
      </if>
      <if test="sequence != null">
        #{sequence,jdbcType=SMALLINT},
      </if>
      <if test="device != null">
        #{device,jdbcType=BIGINT},
      </if>
      <if test="lockers_count != null">
        #{lockers_count,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gzncloud.domain.Cabinets">
    update cabinets
    <set>
      <if test="sequence != null">
        sequence = #{sequence,jdbcType=SMALLINT},
      </if>
      <if test="device != null">
        device = #{device,jdbcType=BIGINT},
      </if>
      <if test="lockers_count != null">
        lockers_count = #{lockers_count,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where cabinet = #{cabinet,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gzncloud.domain.Cabinets">
    update cabinets
    set sequence = #{sequence,jdbcType=SMALLINT},
      device = #{device,jdbcType=BIGINT},
      lockers_count = #{lockers_count,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where cabinet = #{cabinet,jdbcType=BIGINT}
  </update>
  
  <!-- 根据设备编号查询购物柜列表 -->
  <select id="selectByDevice" parameterType="java.lang.Long" resultMap="BaseResultMap">
	select 
	<include refid="Base_Column_List" />
	from cabinets where device = #{device,jdbcType=BIGINT}
  </select>
  <!-- 根据主键（购物柜编号）查询盒子数 -->
  <select id="selectLockers_countByCabinets" parameterType="java.lang.Long" resultType="java.lang.Integer">
  select lockers_count from cabinets where cabinet = #{cabinet,jdbcType=BIGINT}
  </select>
   <!-- 根据购物柜序号查询购物柜列表 -->
  <select id="selectBySequence" parameterType="java.lang.Short" resultMap="BaseResultMap">
	select 
	<include refid="Base_Column_List" />
	from cabinets where sequence = #{device,jdbcType=SMALLINT}
  </select>
</mapper>