html,body,div,p,ul,li,a,span,u,i,h1,h2,h3,h4,h5,h6,form,input{
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
body{
	background-color: #fff;
	font-size: 20px;
}
.glyphicon{
	top: 2px!important;
}
/*js添加的类*/
.border{
	border: 2px solid #337AB7;
	border-radius: 5px;
	background-color: #fff;
}
.bgc{
	background: #337AB7;
	border-radius: 5px;
	color: #fff;
}
.color{
	color: #337AB7;
}
.border-r{
	border-right: 1px solid #9a9a9a;
}
.border-b{
	border-bottom: 1px solid #9a9a9a;
}